abook_import_export-1.1-1.4.4.tar.bz2
address_add-2.1-1.4.0.tar.bz2
all_locales-1.4.18-20090526.tar.bz2
archive_mail.1.2-1.4.2.tar.bz2
avelsieve-1.9.9.tar.gz
block_sender.2.02-1.4.0.tar.bz2
bookmarks-2.0.3-1.4.1.tar.bz2
change_ldappass-2.2-1.4.0.tar.bz2
change_pass-3.0-1.4.0.tar.gz
compatibility-2.0.14-1.0.tar.bz2
conf.pl
empty_folders-2.0.1-1.2.tar.bz2
folder_sizes-1.5-1.4.0.tar.bz2
javascript_libs-0.1.2.tar.bz2
junkfolder-1.0.tar.bz2
ldifimport-1.4-1.2.x.tar.bz2
login_image-0.2.tar.bz2
logoMDA-CS.png
quota_usage-1.3.1-1.2.7.tar.bz2
rewrap-1.3-1.4.0.tar.bz2
secure_login-1.4-1.2.8.tar.bz2
select_range-3.7.1-1.4.4.tar.gz
spam_buttons-2.3-1.4.0.tar.gz
squirrelmail-RPM.readme
squirrelmail.tar.gz
SquirrelSAP105.tar.bz2
username-2.3-1.0.0.tar.bz2
windows-1.6-1.4.tar.bz2
yubikey-0.8.1-1.4.0.tar.bz2
